.notesDescription__container {
  margin: 50px 100px;
}

.notesDescription__banner {
  display: flex;
  align-items: flex-start;
}

.notesDescription__assignmentIcon {
  background-color: #129eaf;
  border-radius: 50%;
  padding: 10px;
  margin-right: 20px;
}

.notesDescription__assignmentIcon > .MuiSvgIcon-root {
  font-size: 28px !important;
  color: white !important;
}

.notesDescription__assignmentHeading > h2 {
  color: #007b83;
  font-weight: 500;
}

.notesDescription__assignmentHeading > p {
  color: #666;
}

.notesDescription__assignmentHeading {
  border-bottom: 1px solid #129eaf;
  width: 500px;
}

.notesDescription__assignmentHeading > h6 {
  color: #333;
  line-height: 0.5;
  margin-bottom: 20px;
}
