.mainNotes {
  width: 100%;
  overflow: scroll;
}

.mainNotes__container {
  margin: 30px 100px;
  position: relative;
}

.mainNotes__banner {
  width: 100%;
  background-color: #129eaf;
  border-radius: 12px;
  height: 200px;
  color: white;
  padding: 20px;
  position: relative;
}

.mainNotes__banner > h2 {
  font-size: 34px;
  font-weight: 500;
}

.mainNotes__banner > small {
  font-size: 20px;
}

.mainNotes__banner > p {
  position: absolute;
  font-size: 26px;
  font-weight: 500;
  top: 10px;
  right: 40px;
}

.mainNotes__body {
  position: relative;
  margin: 30px 100px;
}

.mainNotes__assignment {
  border: 1px solid lightgray;
  border-radius: 12px;
  min-height: 70px;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 25px;
  margin: 0 70px;
  margin-bottom: 20px;
}

.mainNotes__assignment:hover {
  cursor: pointer;
  background-color: rgb(224, 246, 253);
}

.mainNotes__assignmentIcon {
  background-color: #129eaf;
  border-radius: 50%;
  padding: 10px;
  margin-right: 20px;
}

.mainNotes__assignmentIcon > .MuiSvgIcon-root {
  font-size: 28px !important;
  color: white !important;
}

.mainNotes__assignmentHeading > h6 {
  font-size: 15px;
  line-height: 0.5;
  margin-top: 10px;
  color: #444;
}

.mainNotes__assignmentHeading > p {
  color: rgb(87, 84, 84);
}
