.tmainCard__filesContainer {
  margin: 100px 80px;
}

.tmainCard__files_table {
  margin: 30px;
}

.tmainCard__files_tableRow tr {
  margin-bottom: 20px;
}

.tmainCard__cardSection {
  display: flex;
  align-items: center;
  margin: 20px;
  flex-wrap: wrap;
}

.tmainCard__card {
  border: 1px solid lightgray;
  border-radius: 12px;
  width: 200px;
  height: 200px;
  position: relative;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tmainCard__cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-bottom: 50px;
}

.tmainCard__cardContent > h3 {
  font-size: #444;
  font-size: 22px;
  line-height: 0.7;
  margin-top: 10px;
}

.tmainCard__cardContent > p {
  white-space: nowrap;
  position: relative;
  width: 50%;
  overflow: hidden;
}

.tmainCard__cardContent > .MuiSvgIcon-root {
  font-size: 40px !important;
  color: #129eaf;
}

.tmainCard__cardDownload {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #129eaf;
  padding: 8px;

  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.tmainCard__cardDownload > a {
  color: white;
}

.tmainCard__cardDownload > a:hover {
  opacity: 0.8;
  color: rgb(208, 224, 230);
}
