.dashboard {
  display: flex;
  flex: 1;
  height: 100vh;
  width: 100%;
  background-color: rgb(1, 46, 56);
}

.dashboardLeftContainer {
  display: flex;
  flex: 0.15;
}

.dashboardRightContainer {
  display: flex;
  flex: 0.85;
  border-radius: 12px;
  background-color: white;
}
