.dashboard {
  display: flex;
  flex: 1;
  height: 100vh;
  width: 100%;
  background-color: rgb(1, 46, 56);
}

.dashboardLeftContainer {
  display: flex;
  flex: 0.1;
}

.dashboardRightContainer {
  display: flex;
  flex: 0.9;
  border-radius: 12px;
}
