.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
}

.studentDashboard__logo {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  object-fit: contain;
  height: 60px;
}

.navbar__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.navbar__container > h4 {
  text-transform: capitalize;
}

.navbar__container > h5 {
  text-transform: uppercase;
  font-size: 17px;
}

.navbar__link {
  cursor: pointer;
  text-decoration: none;
  color: #181818;
  border-bottom: 3px solid transparent;
  width: 100%;
  margin: 1rem 0;
  color: white;
  margin-left: 0px;
}

.navbar__link:hover {
  text-decoration: none;
  color: white;
}

.navbar__link--active {
  /* border-bottom: 3px solid #29b6f6; */
  transition: border-bottom 0.5s ease-in-out;
  color: rgb(1, 46, 56);
  background-color: white;
  width: 140%;
}

.navbar__link--active:hover {
  color: rgb(1, 46, 56);
}

.navitem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px 0;
}

.navitem > .MuiSvgIcon-root {
  font-size: 30px !important;
  margin-bottom: 5px;
}
