.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.35;
  overflow: auto;
  margin-top: 30px;
  margin-left: 15px;
  /* border: 10px solid #ededed; */
  box-shadow: 0 0 10px #ededed;
  -moz-box-shadow: 0 0 10px #ededed;
  -webkit-box-shadow: 0 0 10px#ededed;
  -o-box-shadow: 0 0 10px #ededed;
  padding:50px;
  height:80vh;
}

.sidebar__header {
  background-color: white;
  /* border-bottom: 10px solid #ededed; */

  /* border: solid 1px #ededed; */

  padding-left: 10px;
  margin-bottom: 40px;
}

.sidebar__headerComponents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding-left: 40px; */
  margin-top: 10px;
  -webkit-box-shadow: 3px 3px 11px 1px #ededed;
  -moz-box-shadow: 3px 3px 11px 1px #ededed;
  box-shadow: 3px 3px 11px 1px #ededed;
  outline: none;
  border: none;
}

.icon-button {
  margin-left: -50px;
  color: #fff !important;
}

.icon-button:hover {
  background: none !important;
}

.icon-button:active {
  background: none !important;
}

.sidebar__headerComponent {
  font-size: 35px !important;
  color: rgb(13, 106, 192) !important;
  /* color: rgb(36, 36, 231) !important; */
  border: 1px solid #d6dae0;
  border-radius: 50%;
  cursor: pointer;
  margin-left: -50px;
  
}

.sidebar__headerComponents > h3 {
  margin-left: -50px;
  margin-top: 5px;
  font-size: 16px;
  font-weight: 700;
}

.question__card {
  width: 100%;
  background: #012E38;
  padding-left: 10px;
  /* padding-right: 10px; */
  padding-bottom: 10px;
  padding-top: 0px;
  height: 130px;
  /* border-bottom: 2px solid #ededed; */
  -webkit-box-shadow: 0px 0px 11px 1px #ededed;
  -moz-box-shadow: 0px 0px 11px 1px #ededed;
  box-shadow: 0px 0px 11px 1px #ededed;
  margin: 20px 0;
  text-decoration: none;
  padding: 10px 20px
}

.question__card:hover {
  text-decoration: none;
  color:white;
}

.question__cardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.question__cardHeader > h3 {
  font-size: 17px;
  font-weight: 700;
}

.question__cardHeaderIcon {
  font-size: 23px !important;
  margin-top: -5px;
  cursor: pointer;
}

.question__cardBody {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.question__cardBody > p {
  font-size: 11px;
  font-weight: 500;
  color: rgb(114, 113, 113);
  margin-top: -5px;
  height: 45px;
  overflow: hidden;
  text-emphasis: emphasis;
}

.question__cardFooter {
  display: flex;
  align-items: center;

  margin: 0;
  margin-top: -23px;
  color: rgb(114, 113, 113);
}

.question__cardFooter > .MuiSvgIcon-root {
  font-size: 25px !important;
}

.question__card:focus {
  border-radius: 5px;
  outline: none;
  z-index: 1;
  border-left: 8px solid rgb(13, 100, 199);
}

.sidebar__body {
  overflow-y: scroll;
  max-height: 100vh;
}

.sidebar__body::-webkit-scrollbar {
  width: 12px;
}

/* .question__cardActive {
  border-left: 8px solid rgb(13, 100, 199);
}

.question__cardInactive {
  border-left: none;
} */
